@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .filter-grayscale {
        filter: grayscale(100%);
    }
    .filter-none {
        filter: none;
    }
    .mobile-menu {
        height: 0px;
        overflow: hidden;
        transition: height 0.2s ease-in-out;
    }
    .filters-mobile {
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out;
    }
}
