{% load tailwind_tags %}
{% load i18n%}
{% load website_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>{% title %}</Title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% tailwind_css %}
    {% load static %}
    <link rel="shortcut icon" href="{% static 'media/transfeminiinit-logo.png' %}">
    <!-- Goggle Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
</head>
<body class="flex flex-col min-h-screen bg-secondary-light">
    {% block sidebar %}
    <nav class="m-4 px-0 lg:px-4">
        <div class="flex justify-between">
            <div>
                <img src="{% static 'media/transfeminiinit-logo.png' %}" class="float-left object-contain h-11 md:h-16">
                <div class="flex"><h1 class="text-secondary-dark hover:text-primary-dark transition duration-300 text-4xl md:text-6xl font-roboto-condensed font-semibold mt-1"><a href="{% url 'website:home' %}">{% title %}</a></h1></div>
            </div>
            <div class="hidden lg:flex items-center space-x-1">
                <a class="px-4 text-secondary-dark hover:text-primary-dark transition duration-300 text-4xl" href="">{% info %}</a>
                <a class="px-4 text-secondary-dark hover:text-primary-dark transition duration-300 text-4xl" href="">{% membership %}</a>
                <a class="px-4 text-secondary-dark hover:text-primary-dark transition duration-300 text-4xl" href="">{% contact %}</a>
            </div>
            <!-- Mobile menu button -->
            <div class="lg:hidden pt-2 pr-2">
                <button class="outline-none mobile-menu-button text-secondary-dark">
                    <svg class="w-8 h-8" stroke="currentColor" stroke-width="2" stroke-linecap="round" fill="none" viewBox="0 0 24 24">
                        <path d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
        </div>
        <!-- Mobile menu -->
        <noscript>
            <div class="mt-4 mx-4 mb-0 lg:hidden">
                <ul class="space-y-1">
                    <li><a class="block px-8 py-4 text-2xl bg-primary-light rounded text-secondary-dark hover:text-primary-dark transition duration-300" href="">{% info %}</a></li>
                    <li><a class="block px-8 py-4 text-2xl bg-primary-light rounded text-secondary-dark hover:text-primary-dark transition duration-300" href="">{% membership %}</a></li>
                    <li><a class="block px-8 py-4 text-2xl bg-primary-light rounded text-secondary-dark hover:text-primary-dark transition duration-300" href="">{% contact %}</a></li>
                </ul>
            </div>
        </noscript>
        <div class="mobile-menu mx-4 mb-0 lg:hidden">
            <ul class="space-y-1">
                <li><a class="block px-8 py-4 text-2xl bg-primary-light rounded text-secondary-dark hover:text-primary-dark transition duration-300" href="">{% info %}</a></li>
                <li><a class="block px-8 py-4 text-2xl bg-primary-light rounded text-secondary-dark hover:text-primary-dark transition duration-300" href="">{% membership %}</a></li>
                <li><a class="block px-8 py-4 text-2xl bg-primary-light rounded text-secondary-dark hover:text-primary-dark transition duration-300" href="">{% contact %}</a></li>
            </ul>
        </div>
    </nav>
    {% endblock %}
    <main class="flex-grow">
        <div class="px-4 mb-20">
            <div class="bg-primary-light rounded">
            {% block content %}{% endblock %}
            </div>
        </div>
    </main>
    <footer class="fixed bottom-0 w-full bg-secondary-dark py-3 px-0 lg:px-4">
        <div class="flex">
            {% get_language_list as language_list %}
            {% for language in language_list %}
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input type="hidden" name="next" value="{{ redirect_to }}">
                <input type="hidden" name="language" value="{{ language.code }}">
                <input type="submit" value="{{ language.name }}" class="block px-5 text-secondary-light hover:text-primary-dark">
            </form>
            {% endfor %}
        </div>
    </footer>
</body>
</html>
<script type="text/javascript">
    const btn = document.querySelector("button.mobile-menu-button");
    const menu = document.querySelector(".mobile-menu")
    const click = new Event("click");

    btn.addEventListener("click", () => {

        if (menu.style.height > "0px") {
            menu.style.height = "0px";
            setTimeout(function(){
                menu.classList.toggle("mt-4");
            }, 200);
        } else {
            menu.classList.toggle("mt-4");
            menu.style.height = "200px";
        }
    });
</script>
